.app-container {
    display: grid;
    grid-template-columns: 250px 1fr;
}

.content-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.blog-component {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}